<div class="file-uploader">
  <h2>Upload Your Large Files Here</h2>
  <input type="file" (change)="onFilesSelected($event)" multiple />
  <button (click)="uploadFiles()" [disabled]="!files.length">Upload</button>

  <div *ngIf="message" [ngClass]="['message', message.type]">
    {{ message.text }}
  </div>

  <div *ngIf="uploading">
    <div *ngFor="let file of files; let i = index">
      <p>{{ file.name }} - {{ progress[i] }}% uploaded</p>
      <div class="progress-container">
        <div class="progress-bar" [style.width]="progress[i] + '%'"></div>
      </div>
    </div>
  </div>
</div>
